In [2]:
import numpy as np
import pandas as pd
frame2 = pd.DataFrame(np.arange(16).reshape((4,4)),index = ['red','blue', 'yellow', 'white'], columns = ['ball', 'pen', 'pencel','paper'])
frame2

        ball  pen  pencel  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/'
df = pd.read_csv(url, header = None)


headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base',
'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower',
 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']